.searchbar{
    margin: 10px;
}

.textaread{
    height: 300px !important;
}

html body{
    background-color: #cfd2d2;
}

.card-body{
    background-color: #ffffff;
}

.btns{
    margin-top: 10px;
    float: right;
}


.custombtn{
    color: rgb(56, 56, 56) !important;
    text-decoration: none !important;
    text-align: start !important;
}

.custombtn:hover{
    color: rgb(103, 103, 103) !important;
    text-decoration: none !important;
}

.cardcustom{
    border-radius: 5px !important;
    background-color: #f3f3f3 !important;
    border: none !important;
    padding: 5px;
    box-shadow: 1px 1px 5px 1px rgba(142, 142, 142, 0.2) !important;
}

.card-header{
    border-bottom: none !important;
    margin: 10px;
}

.searc_form{
    margin-top: 15px !important;
}

@media screen and (max-width: 700px) {
    .list-col {
      
      display: block;
    }
  }